body{
    background: url("../images/pizza_bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    opacity: 0.9;
}

.jumbotron{
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
}

.display-3, .lead, .btn-lg{
    font-weight: bold;
}

hr{
    height: 5px;
}

#puzzle{
    width: 75%;
    background-color: darkgray;
    margin: 0 auto;
}

strong{
    font-size: 2.0rem;
}